.row-space{
    margin-top:30px;
}

.row-btn-portfolio {
    margin-top: 13px;
}

.logo {
    width: 30px;
}

.brick__image-inner{
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-size: 100% auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}