<div id="banner" class="flex flex-wrap justify-center py-8">
  <div class="w-full">
    <div class="mr-auto ml-auto bg-gray-200 rounded-full w-48 h-48 shadow-lg p-1">
      <picture>
        <source srcset="./assets/img/logo/webp/alvitre.webp" type="image/webp" />
        <source srcset="./assets/img/logo/png/alvitre.png" type="image/jpeg" />
        <img class="w-auto h-40 ml-auto mr-auto" src="./assets/img/logo/webp/alvitre.webp" alt="Logo da Alvitre!" />
      </picture>
    </div>
  </div>
  <div class="w-full">
    <h1 class="text-white text-center text-4xl">Alvitre</h1>
  </div>
  <div class="w-full mt-2">
    <h2 class="text-white text-1xl text-center">DESENVOLVIMENTO</h2>
    <h2 class="text-white text-1xl text-center">SISTEMAS | SITES | APLICATIVOS</h2>
  </div>
  <div class="w-full px-4">
    <div class="flex justify-end">
      <div class="mt-4">
        <div id="toastNotifications" class="div-install-pwa toastNotifications">
          <div class="border-blue-700 border-l-4 mx-auto bg-gray-800 shadow-lg rounded-lg hover:bg-gray-900">
            <div class="flex flex-wrap justify-between">
              <div class="text-sm p-3 btn-install-pwa cursor-pointer">
                <span class="text-left font-bold">Adicione a tela inicial</span>
                <div class="toast-body-tail">
                  <div class=" tracking-tight text-gray-200">
                    Disponível para instalação
                  </div>
                </div>
              </div>

              <div class="border-l px-1 cursor-pointer btn-pwa-close">
                <div class="text-center my-5">
                  <svg class="fill-current hover:text-red-600 text-red-400" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" width="22" height="22">
                    <path class="heroicon-ui"
                      d="M16.24 14.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 0 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12l2.83 2.83z" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>