<section id="sistemas" class="bg-gray-900">
  <div class="flex py-8">
    <div class="w-full justify-center text-center">
      <h2 class="text-2xl text-center">SISTEMAS</h2>
    </div>
  </div>
  <div class="flex flex-wrap justify-center">
    <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
      <div class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5">
        <div class="px-4 py-2">
          <h1 class="text-indigo-100 font-bold text-2xl uppercase">Intellect</h1>
          <p class="text-indigo-200 text-sm mt-1">Sistema Financeiro da Alvitre</p>
        </div>
        <picture>
          <source srcset="./assets/img/portfolio/fotos/webp/intellect.webp" type="image/webp"
            alt="Foto sistema intellect" />
          <source srcset="./assets/img/portfolio/fotos/jpg/intellect.jpg" type="image/jpeg"
            alt="Foto sistema intellect" />
          <img class="w-full mt-2 rounded-md" src="./assets/img/portfolio/fotos/webp/intellect.webp"
            alt="Foto sistema intellect" />
        </picture>
        <div class="flex items-center justify-between px-4 py-2 bg-blue-900">
          <!-- <h1 class="text-gray-200 font-bold text-xl">$129</h1> -->
          <!-- <button class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Saiba
                                              Mais</button> -->
        </div>
      </div>
    </div>
    <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
      <div class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5">
        <div class="px-4 py-2">
          <h1 class="text-indigo-100 font-bold text-2xl uppercase">LS STAR</h1>
          <p class="text-indigo-200 text-sm mt-1">
            Sistema de gestão da empresa LS Star
          </p>
        </div>
        <picture>
          <source srcset="./assets/img/portfolio/fotos/webp/lsstar-sistema.webp" type="image/webp"
            alt="Foto sistema lsstar" />
          <source srcset="./assets/img/portfolio/fotos/jpg/lsstar-sistema.jpg" type="image/jpeg"
            alt="Foto sistema lsstar" />
          <img class="w-full mt-2 rounded-md" src="./assets/img/portfolio/fotos/webp/lsstar-sistema.webp"
            alt="Foto sistema lsstar" />
        </picture>
        <div class="flex items-center justify-between px-4 py-2 bg-red-900">
          <!-- <h1 class="text-gray-200 font-bold text-xl">$129</h1> -->
          <!-- <button class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Saiba
                                  Mais</button> -->
        </div>
      </div>
    </div>
    <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
      <div class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5">
        <div class="px-4 py-2">
          <h1 class="text-indigo-100 font-bold text-2xl uppercase">Conta Smart</h1>
          <p class="text-indigo-1000 text-sm mt-1">Conta digital fintech Smart</p>
        </div>

        <picture>
          <source srcset="./assets/img/portfolio/fotos/webp/contadigital.webp" type="image/webp"
            alt="Foto sistema conta smart" />
          <source srcset="./assets/img/portfolio/fotos/jpg/contadigital.jpg" type="image/jpeg"
            alt="Foto sistema conta smart" />
          <img class="w-full mt-2 rounded-md" src="./assets/img/portfolio/fotos/webp/contadigital.webp"
            alt="Foto sistema conta smart" />
        </picture>

        <div class="flex items-center justify-between px-4 py-2 bg-orange-800">
          <!-- <h1 class="text-gray-200 font-bold text-xl">$129</h1> -->
          <!-- <button class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Saiba
                                  Mais</button> -->
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap justify-center">
    <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
      <div class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5">
        <div class="px-4 py-2">
          <h1 class="text-indigo-100 font-bold text-2xl uppercase">Acolher</h1>
          <p class="text-indigo-200 text-sm mt-1">
            Sistema de fluxos e gerenciamento Acolher
          </p>
        </div>
        <picture>
          <source srcset="./assets/img/portfolio/fotos/webp/acolher.webp" type="image/webp"
            alt="Foto sistema acolher" />
          <source srcset="./assets/img/portfolio/fotos/jpg/acolher.jpg" type="image/jpeg" alt="Foto sistema acolher" />
          <img class="w-full mt-2 rounded-md" src="./assets/img/portfolio/fotos/webp/acolher.webp"
            alt="Foto sistema acolher" />
        </picture>

        <div class="flex items-center justify-between px-4 py-2 bg-blue-200">
          <!-- <h1 class="text-gray-200 font-bold text-xl">$129</h1> -->
          <!-- <button class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Saiba
                                  Mais</button> -->
        </div>
      </div>
    </div>
    <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
      <div class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5">
        <div class="px-4 py-2">
          <h1 class="text-indigo-100 font-bold text-2xl uppercase">Megamed</h1>
          <p class="text-indigo-200 text-sm mt-1">
            Sistema de estoque da empresa Megamed
          </p>
        </div>

        <picture>
          <source srcset="./assets/img/portfolio/fotos/webp/megamed.webp" type="image/webp"
            alt="Foto sistema megamed" />
          <source srcset="./assets/img/portfolio/fotos/jpg/megamed.jpg" type="image/jpeg" alt="Foto sistema megamed" />
          <img class="w-full mt-2 rounded-md" src="./assets/img/portfolio/fotos/webp/megamed.webp"
            alt="Foto sistema megamed" />
        </picture>

        <div class="flex items-center justify-between px-4 py-2 bg-blue-600">
          <!-- <h1 class="text-gray-200 font-bold text-xl">$129</h1> -->
          <!-- <button class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Saiba
                                                  Mais</button> -->
        </div>
      </div>
    </div>
    <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
      <div class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5">
        <div class="px-4 py-2">
          <h1 class="text-indigo-100 font-bold text-2xl uppercase">Vd Lap</h1>
          <p class="text-indigo-200 text-sm mt-1">
            Sistema de gestão interna da empresa Vdlap
          </p>
        </div>

        <picture>
          <source srcset="./assets/img/portfolio/fotos/webp/vdlap-financeiro.webp" type="image/webp"
            alt="Foto sistema vdlap" />
          <source srcset="./assets/img/portfolio/fotos/jpg/vdlap-financeiro.jpg" type="image/jpeg"
            alt="Foto sistema vdlap" />
          <img class="w-full mt-2 rounded-md" src="./assets/img/portfolio/fotos/webp/vdlap-financeiro.webp"
            alt="Foto sistema vdlap" />
        </picture>

        <div class="flex items-center justify-between px-4 py-2 bg-red-600">
          <!-- <h1 class="text-gray-200 font-bold text-xl">$129</h1> -->
          <!-- <button class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Saiba
                                  Mais</button> -->
        </div>
      </div>
    </div>
  </div>
</section>