---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="GIT | GITHUB os principais comandos para começar."
  url="/blog/git-github-para-iniciantes"
  metaImage="/static/videos/2.png"
>
  <h1 class="text-2xl text-center my-8">
    GIT | GITHUB os principais comandos para começar
  </h1>

  <div class="flex justify-center flex-wrap mx-auto">
    <div class="w-full md:w-1/2 lg:w-1/2 px-4 md:px-14 py-4 mx-auto">
      <div class="bg-gray-800 shadow-2xl">
        <iframe
          class="mx-auto w-full"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/IBogCKMwOLg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</Layout>
