---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Desenvolvimento de Sistemas."
  url="/"
  metaImage="/static/logo/png/alvitre.png"
>
  <section
    id=""
    class="bg-cover bg-center welcome"
   
  >
    <div class="flex flex-wrap py-52 px-2">
      <div class="relative mx-auto overflow-hidden rounded-lg shadow-lg">
        <div
          class="bg-black bg-opacity-30 backdrop-filter backdrop-blur-lg p-6"
        >
          <h1 class="text-4xl font-bold mb-4 text-center">
            Bem vindo a Alvitre<br />
          </h1>
          <h2 class="text-lg text-center">
            Transforme sua ideia em realidade: <br />Desenvolvimento de sistemas
            sob medida para o seu negócio
          </h2>
        </div>
      </div>
    </div>
  </section>

  <section id="videos" class="bg-gray-900 py-8">
    <div class="flex py-8">
      <div class="w-full justify-center text-center">
        <h2 class="text-2xl text-center font-bold">VÍDEOS</h2>
      </div>
    </div>
    <div class="flex justify-center flex-wrap mx-auto">
      <div class="w-full md:w-1/2 lg:w-1/2 px-4 md:px-14 py-4 mx-auto">
        <div class="bg-gray-800 shadow-2xl">
          <a
            href="https://www.youtube.com/embed/Cm4GGMZvyOw"
            target="_blank"
            rel="noopener noreferrer"
          >
            

            <picture>
              <source
                srcset="/static/videos/webp/2.webp"
                type="image/webp"
              />
              <source
                srcset="/static/videos/jpeg/2.jpeg"
                type="image/jpeg"
              />
              <img
                width="100"
                height="50"
                class="w-full mt-2 rounded-md"
                src="/static/videos/2.webp"
                alt="node-para-iniciantes"
              />
            </picture>


          </a>
        </div>
      </div>

      <div class="w-full md:w-1/2 lg:w-1/2 px-4 md:px-14 py-4 mx-auto">
        <div class="bg-gray-800 shadow-2xl">
          <a
            href="https://www.youtube.com/embed/IBogCKMwOLg"
            target="_blank"
            rel="noopener noreferrer"
          >
        

            <picture>
              <source
                srcset="/static/videos/webp/1.webp"
                type="image/webp"
              />
              <source
                srcset="/static/videos/jpeg/1.jpeg"
                type="image/jpeg"
              />
              <img
                width="100"
                height="50"
                class="w-full mt-2 rounded-md"
                src="/static/videos/1.webp"
                alt="git-github-para-iniciantes"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section
    id="servicos"
    class="py-20 bg-gradient-to-r from-blue-800 to-pink-800"
  >
    <div class="flex pb-8">
      <div class="w-full justify-center text-center text-white">
        <h2 class="text-2xl text-center font-bold">SERVIÇOS</h2>
      </div>
    </div>
    <div class="flex justify-center flex-wrap px-8 md:px-20 pt-4">
      <div class="w-full md:w-1/3 p-4">
        <div
          class="bg-gray-800 shadow-lg rounded-lg overflow-hidden transform scale-100 hover:scale-105 transition duration-300 ease-in-out"
        >
      

          <picture>
            <source
              srcset="/static/servicos/webp/criacaoweb.webp"
              type="image/webp"
            />
            <source
              srcset="/static/servicos/png/criacaoweb.png"
              type="image/jpeg"
            />
            <img
              width="150"
              height="50"
              class="w-full h-64 object-cover object-center"
              src="/static/servicos/webp/criacaoweb.webp"
              alt="Foto criacao web"
            />
          </picture>

          <div class="py-2 px-6">
            <h2 class="font-bold text-2xl mb-2 text-gray-400">
              Criação de site
            </h2>
            <p class="text-gray-400 text-base my-4">
              Sites responsivos<br />
              Padrões html 5<br />
              Design personalizado
            </p>
          </div>
        </div>
      </div>

      <div class="w-full md:w-1/3 p-4">
        <div
          class="bg-gray-800 shadow-lg rounded-lg overflow-hidden transform scale-100 hover:scale-105 transition duration-300 ease-in-out"
        >
         
          <picture>
            <source
              srcset="/static/servicos/webp/web.webp"
              type="image/webp"
            />
            <source
              srcset="/static/servicos/png/web.png"
              type="image/jpeg"
            />
            <img
              width="150"
              height="50"
              class="w-full h-64 object-cover object-center"
              src="/static/servicos/webp/web.webp"
              alt="Foto web"
            />
          </picture>
          
          <div class="py-2 px-6">
            <h2 class="font-bold text-2xl mb-2 text-gray-400">Sistemas Web</h2>
            <p class="text-gray-400 text-base my-4">
              Transforme planilhas em sistemas<br />
              Faça automação de tarefas<br />
              Gerenciamento da empresa
            </p>
          </div>
        </div>
      </div>

      <div class="w-full md:w-1/3 p-4">
        <div
          class="bg-gray-800 shadow-lg rounded-lg overflow-hidden transform scale-100 hover:scale-105 transition duration-300 ease-in-out"
        >
         

          <picture>
            <source
              srcset="/static/servicos/webp/consultoria.webp"
              type="image/webp"
            />
            <source
              srcset="/static/servicos/png/consultoria.png"
              type="image/jpeg"
            />
            <img
              width="150"
              height="50"
              class="w-full h-64 object-cover object-center"
              src="/static/servicos/webp/consultoria.webp"
              alt="Foto consultoria"
            />
          </picture>


          <div class="py-2 px-6">
            <h2 class="font-bold text-2xl mb-2 text-gray-400">Consultoria</h2>
            <p class="text-gray-400 text-base my-4">
              Análise de sistemas<br />
              Criação de protótipos<br />
              Palestras e Cursos
            </p>
          </div>
        </div>
      </div>
      <a
        href="https://web.whatsapp.com/send?phone=5511946439695"
        target="_blank"
        class="mt-8 bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-full transition duration-300 ease-in-out shadow-lg"
      >
        Solicitar Orçamento
      </a>
    </div>
  </section>

  <section id="sistemas" class="bg-gray-800 py-20">
    <div class="flex pb-8">
      <div class="w-full justify-center text-center">
        <h2 class="text-2xl text-center">SISTEMAS</h2>
      </div>
    </div>
    <div class="flex flex-wrap justify-center">
      <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
        <div
          class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5"
        >
          <div class="px-4 py-2">
            <h1 class="text-indigo-100 font-bold text-2xl uppercase">
              Intellect
            </h1>
            <p class="text-indigo-200 text-sm mt-1">
              Sistema Financeiro da Alvitre
            </p>
          </div>
          <picture>
            <source
              srcset="/static/portfolio/fotos/webp/intellect.webp"
              type="image/webp"
            />
            <source
              srcset="/static/portfolio/fotos/jpg/intellect.jpg"
              type="image/jpeg"
            />
            <img
              width="100"
              height="50"
              class="w-full mt-2 rounded-md"
              src="/static/portfolio/fotos/webp/intellect.webp"
              alt="Foto sistema intellect"
            />
          </picture>
          <div class="flex items-center justify-between px-4 py-2 bg-blue-900">
          </div>
        </div>
      </div>
      <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
        <div
          class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5"
        >
          <div class="px-4 py-2">
            <h1 class="text-indigo-100 font-bold text-2xl uppercase">
              LS STAR
            </h1>
            <p class="text-indigo-200 text-sm mt-1">
              Sistema de gestão da empresa LS Star
            </p>
          </div>
          <picture>
            <source
              srcset="/static/portfolio/fotos/webp/lsstar-sistema.webp"
              type="image/webp"
            />
            <source
              srcset="/static/portfolio/fotos/jpg/lsstar-sistema.jpg"
              type="image/jpeg"
            />
            <img
              width="100"
              height="50"
              class="w-full mt-2 rounded-md"
              src="/static/portfolio/fotos/webp/lsstar-sistema.webp"
              alt="Foto sistema lsstar"
            />
          </picture>
          <div class="flex items-center justify-between px-4 py-2 bg-red-900">
          </div>
        </div>
      </div>
      <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
        <div
          class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5"
        >
          <div class="px-4 py-2">
            <h1 class="text-indigo-100 font-bold text-2xl uppercase">
              Conta Smart
            </h1>
            <p class="text-indigo-1000 text-sm mt-1">
              Conta digital fintech Smart
            </p>
          </div>

          <picture>
            <source
              srcset="/static/portfolio/fotos/webp/contadigital.webp"
              type="image/webp"
            />
            <source
              srcset="/static/portfolio/fotos/jpg/contadigital.jpg"
              type="image/jpeg"
            />
            <img
              width="100"
              height="50"
              class="w-full mt-2 rounded-md"
              src="/static/portfolio/fotos/webp/contadigital.webp"
              alt="Foto sistema conta smart"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap justify-center">
      <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
        <div
          class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5"
        >
          <div class="px-4 py-2">
            <h1 class="text-indigo-100 font-bold text-2xl uppercase">
              Acolher
            </h1>
            <p class="text-indigo-200 text-sm mt-1">
              Sistema de fluxos e gerenciamento Acolher
            </p>
          </div>
          <picture>
            <source
              srcset="/static/portfolio/fotos/webp/acolher.webp"
              type="image/webp"
            />
            <source
              srcset="/static/portfolio/fotos/jpg/acolher.jpg"
              type="image/jpeg"
            />
            <img
              width="100"
              height="50"
              class="w-full mt-2 rounded-md"
              src="/static/portfolio/fotos/webp/acolher.webp"
              alt="Foto sistema acolher"
            />
          </picture>
        </div>
      </div>
      <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
        <div
          class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5"
        >
          <div class="px-4 py-2">
            <h1 class="text-indigo-100 font-bold text-2xl uppercase">
              Megamed
            </h1>
            <p class="text-indigo-200 text-sm mt-1">
              Sistema de estoque da empresa Megamed
            </p>
          </div>
          <picture>
            <source
              srcset="/static/portfolio/fotos/webp/megamed.webp"
              type="image/webp"
            />
            <source
              srcset="/static/portfolio/fotos/jpg/megamed.jpg"
              type="image/jpeg"
            />
            <img
              width="100"
              height="50"
              class="w-full mt-2 rounded-md"
              src="/static/portfolio/fotos/webp/megamed.webp"
              alt="Foto sistema megamed"
            />
          </picture>
        </div>
      </div>
      <div class="sm:w-full md:w-1/4 lg:1/4 xl-1/5 px-4">
        <div
          class="painel bg-gray-800 text-indigo-100 shadow-lg rounded-lg overflow-hidden my-5"
        >
          <div class="px-4 py-2">
            <h1 class="text-indigo-100 font-bold text-2xl uppercase">Vd Lap</h1>
            <p class="text-indigo-200 text-sm mt-1">
              Sistema de gestão interna da empresa Vdlap
            </p>
          </div>
          <picture>
            <source
              srcset="/static/portfolio/fotos/webp/vdlap-financeiro.webp"
              type="image/webp"
            />
            <source
              srcset="/static/portfolio/fotos/jpg/vdlap-financeiro.jpg"
              type="image/jpeg"
            />
            <img
              width="100"
              height="50"
              class="w-full mt-2 rounded-md"
              src="/static/portfolio/fotos/webp/vdlap-financeiro.webp"
              alt="Foto sistema vdlap"
            />
          </picture>
        </div>
      </div>
    </div>
  </section>

  <div
    class="flex flex-wrap bg-cover bg-center dev"
  
  >
    <div class="w-full md:w-full lg:w-1/2">
      <section id="desenvolvedor" class="section py-6">
        <div class="flex pb-5">
          <div class="w-full justify-center text-center">
            <h2 class="text-2xl text-center">DESENVOLVEDOR</h2>
          </div>
        </div>
        <div class="alvitre-card md:mt-20">
          <div class="flex m-2 justify-center">
            <div
              class="w-auto shadow-lg p-1 bg-gray-700 text-gray-100 bg-opacity-30 backdrop-filter backdrop-blur-lg"
            >
              <div class="flex flex-wrap justify-center">
                <div class="w-full sm:w-full md:w-1/2 p-1">
                  <div class="flex flex-wrap justify-center h-full">
                    <div class="mt-auto mb-auto">
                      <picture
                        class="rounded-full object-none object-center mdh-64 msw-64"
                      >
                        <source
                          srcset="/static/desenvolvedor/webp/jorge.webp"
                          type="image/webp"
                        />
                        <source
                          srcset="/static/desenvolvedor/png/jorge.png"
                          type="image/png"
                        />
                        <img
                          width="230"
                          height="224"
                          class="rounded-full ml-auto mr-auto"
                          src="/static/desenvolvedor/png/jorge.png"
                          alt="Foto desenvolvedor!"
                        />
                      </picture>
                    </div>
                  </div>
                </div>
                <div class="w-full sm:w-full md:w-3/6 p-1">
                  <div
                    class="rounded w-full p-2 justify-center items-center text-center shadow h-full bg-gray-900 text-gray-100"
                  >
                    <div class="text-sm">
                      <h3 class="font-bold text-xl text-center">
                        Jorge S. Junior
                      </h3>
                    </div>
                    <div
                      class="flex flex-wrap w-full h-full border-gray-200 pb-1 text-sm items-center"
                    >
                      <div class="w-full">
                        <div class="mb-5 text-center">
                          <p>Desenvolver de sistemas full-stack</p>
                        </div>
                        <div>
                          <p>
                            Fundador da <span class="text-blue-400 font-bold"
                              >Alvitre</span
                            >
                          </p>
                          <p>São Paulo - Brasil</p>
                          <br />
                          <p>jorgeserranojunior@hotmail.com</p>
                          <p>www.alvitre.com.br</p>
                        </div>
                      </div>
                      <div
                        class="w-full border-b border-t border-gray-200 m-4 p-2 text-center text-xs"
                      >
                        <a href="https://github.com/jserranojunior">
                          <button
                            class="bg-purple-800 font-bold text-white rounded p-1"
                            name="github"
                          >
                            Github
                          </button>
                        </a>
                        <a
                          href="https://www.linkedin.com/in/jorgeserranojunior/"
                        >
                          <button
                            class="bg-green-800 font-bold text-white rounded-sm p-1"
                            name="linkedin"
                          >
                            <i class="fab fa-linkedin"></i>Linkedin
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="w-full md:w-full lg:w-1/2 px-4">
      <div class="flex py-5">
        <div class="w-full justify-center text-center">
          <h2 class="text-2xl text-center">TECNOLOGIAS</h2>
        </div>
      </div>
      <div class="my-8 rounded-md">
        <section id="tecnologias" class="pb-6">
          <div class="flex flex-wrap text-center">
            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon
                        width="40"
                        icon="vscode-icons:file-type-html"></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">HTML/CSS</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon width="45" icon="logos:vue"></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">VUEJS</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon
                        width="40"
                        icon="vscode-icons:file-type-typescript-official"
                      ></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">Typescript</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon
                        width="40"
                        icon="vscode-icons:file-type-go-gopher"></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">Golang</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon
                        width="40"
                        icon="vscode-icons:file-type-node"></iconify-icon><br />
                    </div>
                    <h3 class="text-md font-bold">NODE</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon width="40" icon="logos:vitejs"
                      ></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">Vite</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon width="100" icon="logos:pwa"></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">PWA</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon
                        width="40"
                        icon="vscode-icons:file-type-php2"></iconify-icon><br />
                    </div>
                    <h3 class="text-md font-bold">PHP</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon width="40" icon="logos:javascript"
                      ></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">JAVASCRIPT</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon width="42" icon="logos:laravel"
                      ></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">LARAVEL</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon width="64" icon="logos:mysql"
                      ></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">MYSQL/SQL</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon
                        width="45"
                        icon="vscode-icons:folder-type-server-opened"
                      ></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">HOSPEDAGEM</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon
                        width="40"
                        icon="vscode-icons:file-type-docker2"></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">DOCKER</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon
                        width="40"
                        icon="vscode-icons:file-type-vitest"></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">VITEST</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon
                        width="40"
                        icon="vscode-icons:file-type-tailwind"></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">Tailwind</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="w-1/2 sm:w-1/2 md:w-1/4 p-2">
              <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden">
                <div class="p-4">
                  <div class="flex items-center">
                    <div class="mr-4">
                      <iconify-icon width="35" icon="logos:linux-tux"
                      ></iconify-icon>
                    </div>
                    <h3 class="text-md font-bold">Linux</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <section id="portfolio" class="bg-gray-700">
    <div class="flex pb-4 pt-8">
      <div class="w-full justify-center text-center">
        <h2 class="text-2xl text-center">Sites</h2>
      </div>
    </div>

    <div id="portfolioshort" class="flex flex-wrap flex-portfolio m-4">
      <div class="w-full sm:w-full md:w-1/5 p-2 portfolio">
        <div class="painel p-1 m-2 shadow-inner rounded-lg bg-gray-700">
          <div class="painel-content">
            <picture>
              <source
                srcset="/static/portfolio/thumbnail/webp/lsstar.webp"
                type="image/webp"
              />
              <source
                srcset="/static/portfolio/thumbnail/png/lsstar.png"
                type="image/png"
              />
              <img
                width="500"
                height="100"
                class="rounded-lg"
                src="/static/portfolio/thumbnail/png/lsstar.png"
                alt="lsstar"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-full md:w-1/5 p-2 portfolio">
        <div class="painel p-1 m-2 shadow-inner rounded-lg bg-gray-700">
          <div class="painel-content">
            <picture>
              <source
                srcset="/static/portfolio/thumbnail/webp/abcp.webp"
                type="image/webp"
              />
              <source
                srcset="/static/portfolio/thumbnail/png/abcp.png"
                type="image/png"
              />
              <img
              width="500"
                height="100"
                class="rounded-lg"
                src="/static/portfolio/thumbnail/png/abcp.png"
                alt="abcp"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-full md:w-1/5 p-2 portfolio">
        <div class="painel p-1 m-2 shadow-inner rounded-lg bg-gray-700">
          <div class="painel-content">
            <picture>
              <source
                srcset="/static/portfolio/thumbnail/webp/ajz.webp"
                type="image/webp"
              />
              <source
                srcset="/static/portfolio/thumbnail/png/ajz.png"
                type="image/png"
              />
              <img
              width="500"
                height="100"
                class="rounded-lg"
                src="/static/portfolio/thumbnail/png/ajz.png"
                alt="ajz"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-full md:w-1/5 p-2 portfolio">
        <div class="painel p-1 m-2 shadow-inner rounded-lg bg-gray-700">
          <div class="painel-content">
            <picture>
              <source
                srcset="/static/portfolio/thumbnail/webp/bella.webp"
                type="image/webp"
              />
              <source
                srcset="/static/portfolio/thumbnail/png/bella.png"
                type="image/png"
              />
              <img
              width="500"
                height="100"
                class="rounded-lg"
                src="/static/portfolio/thumbnail/png/bella.png"
                alt="bella"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-full md:w-1/5 p-2 portfolio">
        <div class="painel p-1 m-2 shadow-inner rounded-lg bg-gray-700">
          <div class="painel-content">
            <picture>
              <source
                srcset="/static/portfolio/thumbnail/webp/bressan.webp"
                type="image/webp"
              />
              <source
                srcset="/static/portfolio/thumbnail/png/bressan.png"
                type="image/png"
              />
              <img
              width="500"
                height="100"
                class="rounded-lg"
                src="/static/portfolio/thumbnail/png/bressan.png"
                alt="bressan"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-full md:w-1/5 p-2 portfolio">
        <div class="painel p-1 m-2 shadow-inner rounded-lg bg-gray-700">
          <div class="painel-content">
            <picture>
              <source
                srcset="/static/portfolio/thumbnail/webp/casadelpueblo.webp"
                type="image/webp"
              />
              <source
                srcset="/static/portfolio/thumbnail/png/casadelpueblo.png"
                type="image/png"
              />
              <img
              width="500"
                height="100"
                class="rounded-lg"
                src="/static/portfolio/thumbnail/png/casadelpueblo.png"
                alt="casadelpueblo"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-full md:w-1/5 p-2 portfolio">
        <div class="painel p-1 m-2 shadow-inner rounded-lg bg-gray-700">
          <div class="painel-content">
            <picture>
              <source
                srcset="/static/portfolio/thumbnail/webp/espacovitoria.webp"
                type="image/webp"
              />
              <source
                srcset="/static/portfolio/thumbnail/png/espacovitoria.png"
                type="image/png"
              />
              <img
              width="500"
                height="100"
                class="rounded-lg"
                src="/static/portfolio/thumbnail/png/espacovitoria.png"
                alt="espacovitoria"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-full md:w-1/5 p-2 portfolio">
        <div class="painel p-1 m-2 shadow-inner rounded-lg bg-gray-700">
          <div class="painel-content">
            <picture>
              <source
                srcset="/static/portfolio/thumbnail/webp/fazao.webp"
                type="image/webp"
              />
              <source
                srcset="/static/portfolio/thumbnail/png/fazao.png"
                type="image/png"
              />
              <img
              width="500"
                height="100"
                class="rounded-lg"
                src="/static/portfolio/thumbnail/png/fazao.png"
                alt="fazao"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-full md:w-1/5 p-2 portfolio">
        <div class="painel p-1 m-2 shadow-inner rounded-lg bg-gray-700">
          <div class="painel-content">
            <picture>
              <source
                srcset="/static/portfolio/thumbnail/webp/fenix.webp"
                type="image/webp"
              />
              <source
                srcset="/static/portfolio/thumbnail/png/fenix.png"
                type="image/png"
              />
              <img
              width="500"
                height="100"
                class="rounded-lg"
                src="/static/portfolio/thumbnail/png/fenix.png"
                alt="fenix"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-full md:w-1/5 p-2 portfolio">
        <div class="painel p-1 m-2 shadow-inner rounded-lg bg-gray-700">
          <div class="painel-content">
            <picture>
              <source
                srcset="/static/portfolio/thumbnail/webp/fso.webp"
                type="image/webp"
              />
              <source
                srcset="/static/portfolio/thumbnail/png/fso.png"
                type="image/png"
              />
              <img
              width="500"
                height="100"
                class="rounded-lg"
                src="/static/portfolio/thumbnail/png/fso.png"
                alt="fso"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="w-full">
        <div class="flex justify-center">
          <a href="./portfolio">
            <div
              class="btn btn-primary bg-pink-700 animate-bounce justify-center mb-6"
            >
              Ver mais
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <button
      id="totop"
      type="button"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light"
      aria-label="To Top"
      class="inline-block p-3 bg-red-500 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out bottom-5 right-5 fixed"
      id="btn-back-to-top"
    >
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        class="w-4 h-4"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          fill="currentColor"
          d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
        >
        </path>
      </svg>
    </button>
    <div class="pwa flex mb-16">
      <div class="w-full px-4">
        <div class="flex justify-center">
          <div class="mt-4 pb-8">
            <h3 class="text-center mb-4 text-xl font-bold">
              Para mais novidades
            </h3>

            <div
              id="toastNotifications"
              class="div-install-pwa toastNotifications"
            >
              <div
                class="border-blue-700 border-l-4 mx-auto bg-gray-800 shadow-lg rounded-lg hover:bg-gray-900"
              >
                <div class="flex flex-wrap justify-between">
                  <div class="text-sm p-3 btn-install-pwa cursor-pointer">
                    <span class="text-left font-bold"
                      >Adicione a tela inicial</span
                    >
                    <div class="toast-body-tail">
                      <div class="tracking-tight text-gray-200">
                        Disponível para instalação
                      </div>
                    </div>
                  </div>

                  <div class="border-l px-1 cursor-pointer btn-pwa-close">
                    <div class="text-center my-5">
                      <svg
                        class="fill-current hover:text-red-600 text-red-400"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        width="22"
                        height="22"
                      >
                        <path
                          class="heroicon-ui"
                          d="M16.24 14.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 0 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12l2.83 2.83z"
                        >
                        </path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</Layout>
