<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Alvitre Components</title>
    <link rel="stylesheet" href="./assets/css/tailwind-purge-min.css">
</head>

<body>
    <section class="section bg-gray-100 py-6">
        <!-- PAINEL BIO START -->
        <div class="alvitre-card">
            <div class="flex m-2 justify-center">
                <div class="w-auto shadow-lg p-1 light:bg-white dark:bg-gray-900 dark:text-gray-100 light:text-black">
                    <div class="flex flex-wrap justify-center ">
                        <div class="w-full sm:w-full md:w-1/2 p-1">
                            <div class="flex flex-wrap justify-center h-full">
                                <div class="mt-auto mb-auto">
                                    <picture>

                                        <img class="rounded-full object-none object-center h-64 w-64"
                                            src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80"
                                            alt="Img Bio!">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class=" w-full sm:w-full md:w-3/6 p-1">
                            <div class="rounded w-full p-2 justify-center items-center text-center shadow 
                            h-full light:bg-white dark:bg-gray-800 dark:text-gray-100 light:text-black">
                                <div class="text-sm">
                                    <h3 class=" font-bold text-xl  text-center">john G. Junior</h3>
                                </div>
                                <div
                                    class="flex flex-wrap w-full h-full border-b border-gray-200 pb-1 text-sm items-center">
                                    <div class="w-full">
                                        <div class="mb-5 text-center">
                                            <p>
                                                Full-Stack Developer
                                            </p>
                                        </div>
                                        <div>
                                            <p>Foundation <span class="text-blue-800 font-bold">Alvitre</span></p>
                                            <p>São Paulo - Brasil</p>
                                            <br>
                                            <p>example@gmail.com</p>
                                            <p>www.alvitre.com.br</p>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="w-full border-b border-t border-gray-200 m-4 p-2 text-center text-xs">
                                        <a name="github" href="https://github.com/jserranojunior">
                                            <button class="bg-blue-800 font-bold text-white rounded p-1" name="github">
                                                Github
                                            </button>
                                        </a>
                                        <a name="linkedin" href="https://www.linkedin.com/in/jorgeserranojunior/">
                                            <button class="bg-green-800 font-bold text-white rounded-sm p-1"
                                                name="linkedin">
                                                <i class="fab fa-linkedin"></i>Linkedin
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAINEL BIO END -->

        <!-- PAINEL BIO INVERSE FOR DARK MODE START -->
        <div class="alvitre-card">
            <div class="flex m-2 justify-center">
                <div class="w-auto shadow-lg p-1 dark:bg-white light:bg-gray-900 light:text-gray-100 dark:text-black">
                    <div class="flex flex-wrap justify-center ">
                        <div class="w-full sm:w-full md:w-1/2 p-1">
                            <div class="flex flex-wrap justify-center h-full">
                                <div class="mt-auto mb-auto">
                                    <picture>

                                        <img class="rounded-full object-none object-center h-64 w-64"
                                            src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80"
                                            alt="Img Bio!">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class=" w-full sm:w-full md:w-3/6 p-1">
                            <div class="rounded w-full p-2 justify-center items-center text-center shadow 
                            h-full dark:bg-white light:bg-gray-800 light:text-gray-100 dark:text-black">
                                <div class="text-sm">
                                    <h3 class=" font-bold text-xl  text-center">john G. Junior</h3>
                                </div>
                                <div
                                    class="flex flex-wrap w-full h-full border-b border-gray-200 pb-1 text-sm items-center">
                                    <div class="w-full">
                                        <div class="mb-5 text-center">
                                            <p>
                                                Full-Stack Developer
                                            </p>
                                        </div>
                                        <div>
                                            <p>Foundation <span class="text-blue-800 font-bold">Alvitre</span></p>
                                            <p>São Paulo - Brasil</p>
                                            <br>
                                            <p>example@gmail.com</p>
                                            <p>www.alvitre.com.br</p>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="w-full border-b border-t border-gray-200 m-4 p-2 text-center text-xs">
                                        <a name="github" href="https://github.com/jserranojunior">
                                            <button class="bg-blue-800 font-bold text-white rounded p-1" name="github">
                                                Github
                                            </button>
                                        </a>
                                        <a name="linkedin" href="https://www.linkedin.com/in/jorgeserranojunior/">
                                            <button class="bg-green-800 font-bold text-white rounded-sm p-1"
                                                name="linkedin">
                                                <i class="fab fa-linkedin"></i>Linkedin
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAINEL BIO DARK END -->
    </section>
</body>

</html>